
aiofiles
Pillow
humanize
hachoir
motor
TgCrypto
dnspython
aiohttp
pymongo
uvloop
tgcrypto
pyrogram
aiohttp
Flask==1.1.2
gunicorn==20.1.0
asyncio
motor
pyrogram
tgcrypto
requests
telegraph
Jinja2==3.0.3
Pillow
werkzeug==2.0.2
itsdangerous==2.0.1
